<%- include('../template/top') -%>
<div style="position: relative;top:88px;">
    <%- include('../template/left') -%>
    <div style="position: absolute;left: 187px;width: 86%;">
       <div class="place">
            <span>位置：</span>
            <ul class="placeul">
                <li><a href="#">管理信息</a></li>
                <li><a href="#">文章设置</a></li>
                <li><a href="#">新增文章</a></li>
            </ul>
        </div>

        <div class="formbody">
            <div id="usual1" class="usual"> 
                <div class="itab">
                    <ul> 
                    <li><a href="#tab1" class="selected">发布通知</a></li> 
                    </ul>
                </div> 
    
                <div id="tab1" class="tabson">
    
                <div class="formtext">Hi，<b>admin</b>，欢迎您试用信息发布功能！</div>
    
                <ul class="forminfo">
                    <li><label>招聘企业<b>*</b></label><input name="" type="text" class="dfinput" value="请填写单位名称"  style="width:518px;"/></li>
               
                    <li><label>职位名称<b>*</b></label><input name="" type="text" class="dfinput" value="请填写单位名称"  style="width:518px;"/></li>
    
                    <li><label>文章标签<b>*</b></label>
                        
                        <div class="addtiplist">
                            <ul>
                                <li><input name="" type="checkbox" value="" checked="checked"/><span>前端</span></li>
                                <li><input name="" type="checkbox" value=""/><span>Node.js</span></li>
                                <li><input name="" type="checkbox" value=""/><span>Javascript</span></li>
                            </ul> 
                        </div>
                        
                    </li>
                    <li><label style="float: none;">通知内容<b>*</b></label>
    

                    <script id="editor" type="text/plain" style="width:1000px;height:500px;"></script>
                    
                    </li>
                    <li><label>&nbsp;</label><input name="" type="button" class="btn" value="马上发布"/></li>
                </ul>
    
            </div>             
    
        </div> 
    </div>
</div>
<script type="text/javascript">
    var ue = UE.getEditor('editor');
</script>
