<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理系统</title>
<link href="../stylesheets/style.css" rel="stylesheet" type="text/css" />
<link href="../stylesheets/select.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" src="../javascripts/jquery.js"></script>
<script language="JavaScript" src="../javascripts/public.js"></script>
</head>

<body style="background:url(../images/topbg.gif) repeat-x;">

    <div class="topleft">
    <a href="/main" target="_parent"><img src="../images/logo.png" title="系统首页" /></a>
    </div>
        
    <ul class="nav">
    <li><a href="/main" target="rightFrame" class="selected"><img src="../images/icon01.png" title="工作台" /><h2>首页信息</h2></a></li>
    <li><a href="/main/tip" target="rightFrame"><img src="../images/icon02.png" title="标签管理" /><h2>标签管理</h2></a></li>
    <li><a href="/article/article-list"  target="rightFrame"><img src="../images/icon03.png" title="文章管理" /><h2>文章管理</h2></a></li>
    <li><a href="/users/admin-list"  target="rightFrame"><img src="../images/icon06.png" title="管理员设置" /><h2>管理员设置</h2></a></li>
    </ul>
            
    <div class="topright">    
    <ul>
    <li><span><img src="../images/help.png" title="帮助"  class="helpimg"/></span><a href="#">帮助</a></li>
    <li><a href="#">关于</a></li>
    <li><a href="/login" target="_parent">退出</a></li>
    </ul>
     
    <div class="user">
    <span><%= username %></span>
    <i>消息</i>
    <b>5</b>
    </div>    
    
    </div>
